FhMapDrawing/FhMapDrawing/Connected Services/ServiceReference1/SimulatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimulatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1667/Simulator?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1667/Simulator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1667/Simulator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SimulatorServiceMap_GetMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMap" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceMap_GetMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapResponse" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceMap_GetDynamicObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicObjects" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceMap_GetDynamicObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceMap_ToggleBrokenItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleBrokenItem" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceMap_ToggleBrokenItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleBrokenItemResponse" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_GetTrafficInitData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficInitData" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_GetTrafficInitData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficInitDataResponse" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_GetTrafficLightGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficLightGroups" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_GetTrafficLightGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficLightGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_SetTrafficLightUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTrafficLightUpdate" />
  </wsdl:message>
  <wsdl:message name="SimulatorServiceTrafficControl_SetTrafficLightUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTrafficLightUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="SimulatorServiceMap">
    <wsdl:operation name="GetMap">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceMap/GetMap" message="tns:SimulatorServiceMap_GetMap_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceMap/GetMapResponse" message="tns:SimulatorServiceMap_GetMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDynamicObjects">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceMap/GetDynamicObjects" message="tns:SimulatorServiceMap_GetDynamicObjects_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceMap/GetDynamicObjectsResponse" message="tns:SimulatorServiceMap_GetDynamicObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleBrokenItem">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceMap/ToggleBrokenItem" message="tns:SimulatorServiceMap_ToggleBrokenItem_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceMap/ToggleBrokenItemResponse" message="tns:SimulatorServiceMap_ToggleBrokenItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SimulatorServiceTrafficControl">
    <wsdl:operation name="GetTrafficInitData">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficInitData" message="tns:SimulatorServiceTrafficControl_GetTrafficInitData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficInitDataResponse" message="tns:SimulatorServiceTrafficControl_GetTrafficInitData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrafficLightGroups">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficLightGroups" message="tns:SimulatorServiceTrafficControl_GetTrafficLightGroups_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficLightGroupsResponse" message="tns:SimulatorServiceTrafficControl_GetTrafficLightGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTrafficLightUpdate">
      <wsdl:input wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/SetTrafficLightUpdate" message="tns:SimulatorServiceTrafficControl_SetTrafficLightUpdate_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/SimulatorServiceTrafficControl/SetTrafficLightUpdateResponse" message="tns:SimulatorServiceTrafficControl_SetTrafficLightUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SimulatorServiceMap" type="tns:SimulatorServiceMap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMap">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceMap/GetMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicObjects">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceMap/GetDynamicObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleBrokenItem">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceMap/ToggleBrokenItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_SimulatorServiceTrafficControl" type="tns:SimulatorServiceTrafficControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrafficInitData">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficInitData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrafficLightGroups">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceTrafficControl/GetTrafficLightGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrafficLightUpdate">
      <soap:operation soapAction="http://tempuri.org/SimulatorServiceTrafficControl/SetTrafficLightUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimulatorService">
    <wsdl:port name="BasicHttpBinding_SimulatorServiceMap" binding="tns:BasicHttpBinding_SimulatorServiceMap">
      <soap:address location="http://localhost:1667/Simulator" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_SimulatorServiceTrafficControl" binding="tns:BasicHttpBinding_SimulatorServiceTrafficControl">
      <soap:address location="http://localhost:1667/Simulator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>