FhMapDrawing/FhMapDrawing/Connected Services/ServiceReference1/Simulator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1667/Simulator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" />
  <xs:element name="GetMap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDynamicObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDynamicObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" minOccurs="0" name="GetDynamicObjectsResult" nillable="true" type="q1:ArrayOfBlockObjectContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleBrokenItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" minOccurs="0" name="item" nillable="true" type="q2:BlockObjectContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleBrokenItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficInitData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficInitDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrafficInitDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficLightGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficLightGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" minOccurs="0" name="GetTrafficLightGroupsResult" nillable="true" type="q3:ArrayOfTrafficLightGroupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrafficLightUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Simulator.Simulation.WCFInterfaces" minOccurs="0" name="trafficlightList" nillable="true" type="q4:ArrayOfTrafficLightContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrafficLightUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>